@import '../../rootStyle.module.scss';

.footer{
    text-align: center;
    height: 390px;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    color: $color-white;
    &__img{
        height: 141px;
        @media screen and (max-width: 1280px) {
            height: 5.5vw;
        }
        @media screen and (max-width: 768px) {
            height: 6.5vw;
        }
    }
    p{
        font-size: 16px;
        font-variation-settings: "wdth" 151, "wght" 300;
    }

    @media screen and (max-width: 1280px) {
        padding: 21px 0;
        height: 216px;
        gap: 26px;
        &__logo{
            width: 50px;
            height: 50px;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 39px 0;
        height: 260px;
        p{
            font-size: 14px;
        }

    }
}