@import '../../rootStyle.module.scss';


.header {
    position: relative;
    z-index: 200;
    &Wrapper {
        padding: 35px 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(10px);
        background: rgba(0, 0, 0, 0.1);
    }
    &Nav {
        display: flex;
        align-items: center;
        width: 1024px;
        .linkWrapper{
            flex: 1;
            display: flex;
            justify-content: center;
            a{
                color:$color-white;
                font-variation-settings:
                "wdth" 135,
                "wght" 300,
                "GRAD" 122;
                font-size: 22px;
                position: relative;
                white-space: nowrap;
                transition: all .2s ease;
            }
            &:hover{
                a{
                    font-variation-settings:
                    "wdth" 135,
                    "wght" 500,
                    "GRAD" 122;
                }
            }

            &__active{
                a{
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: -8px;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background: $color-violet-hover;
                    }
                }
                
            }
        }
        .actionWrapper{
            flex: 292px 0;
            margin-left: 32px;
        }
    }
    .burger{
        width: 26px;
        height: 26px;
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        background: url('/burger.svg') no-repeat;
        background-size: contain;
        &:hover{
            opacity: .5;
        }
    }
    @media screen and (max-width: 1280px) {
        .burger{
            display: block;
            position: relative;
            z-index: 200;
            &__active{
                background: url('/burger_close.svg') no-repeat;
            }
        }
        .logo{
            width: 59px;
            height: 50px;
            position: relative;
            z-index: 200;
        }
        &Wrapper{
            z-index: 100;
            padding: 23px 60px;
            @media screen and (max-width: 768px) {
                padding: 23px 15px;
            }
        }
        &Nav{
            transition: all .5s ease-in-out;
            &__active{
                left: 0;
            }
            background: $color-black;
            height: 100vh;
            position: absolute;
            width: 100vw;
            left: -100vw;
            top: 0;
            padding-top: 100px;
            padding-bottom: 3vh;
            display: grid;
            grid-template-rows: repeat(5, 1fr), auto;
            @media screen and (max-width: 768px) {
                padding-bottom: 8vh;
            }
            .actionWrapper{
                flex: 1;
                justify-content: flex-start;
                margin-left: 0;
                margin-top: 1vh;
                .btn{
                    width: calc(100% - 60px);
                    height: 100%;
                    border-radius: 0 100px 100px 0;
                    font-size: 10vh;
                    display: inline-block;
                    padding-left: 60px;
                    padding-top: 2.5vh;
                    padding-bottom: 2.5vh;
                    line-height: 90%;
                    font-variation-settings:
                    "wdth" 151,
                    "wght" 718,
                    "GRAD" 122;
                    @media screen and (max-width: 768px) {
                        font-size: 14vw;
                        padding: 15px;
                        width: calc(100% - 15px);
                    }
                    &:hover{
                        font-variation-settings:
                        "wdth" 151,
                        "wght" 818,
                        "GRAD" 122;
                    }
                }
            }
            .linkWrapper{
                flex: 1;
                justify-content: flex-start;
                padding: 0 60px;
                &:hover{
                    a{
                        font-variation-settings:
                        "wdth" 151,
                        "wght" 818,
                        "GRAD" 122;
                    }
                }
                @media screen and (max-width: 768px) {
                    padding: 0 15px;

                }
                a{
                    color: $color-black;
                    text-shadow: 0 0 2px $color-white, 0 0 2px $color-white;
                    font-size: 10vh;
                    font-variation-settings:
                    "wdth" 151,
                    "wght" 718,
                    "GRAD" 122;
                    @media screen and (max-width: 768px) {
                        font-size: 14vw; 
                    }
                }
                &__active{
                    a{
                        text-shadow:none;
                        color: $color-white;
                        &::after{
                            content: none;
                        } 
                    }
                }
            }

        }
    }
}
