@import '../../rootStyle.module.scss';

$header-nav-font-size: 22px;
$header-btn-font-size: 24px;

$nav-font: "slnt" 0, "wdth" 135, "GRAD" 122, "XOPQ" 96, "XTRA" 468, "YOPQ" 109, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 545, "YTUC" 712;

.header {
    position: relative;
    z-index: 2;
    &Wrapper {
        padding: 35px 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(10px);
        background: rgba(0, 0, 0, 0.1);
    }
    &Nav {
        display: flex;
        align-items: center;
        gap: 62px;
        a{
            color:$color-white;
            font-variation-settings:$nav-font;
            white-space: nowrap;
        }
        .link{
            font-size: $header-nav-font-size;
            font-weight: 300;
            position: relative;
            font-weight: 300;
            &_active{
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background: $color-violet-hover;
                }
            }
            &:hover{
                font-weight: 500;
                letter-spacing:-0.52px;
                
            }
        }
        .btn{
            font-size: $header-btn-font-size;
            font-weight: 500;
            width: 292px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 40px;
            background: $color-violet-normal;
            transition: all 0.2s ease-in-out;
            &:hover{
                background: $color-violet-hover;
                font-weight: 718;
                padding: 11px 30px;
            }
            &:active{
                background: $color-violet-active;
            }
        }
    }
}
