@import "./rootStyle.module.scss";

.section__title{
  color: $color-white;
  font-size: 8.75vw;
  white-space: nowrap;
  font-variation-settings:
  "slnt" 0,
  "wdth" 151,
  "wght" 760,
  "GRAD" 122;
  text-shadow: 0 0 3px $color-white, 0 0 3px $color-white;
}


.root {
  position: relative;
  z-index: 1;
  margin-top: -150px;
  overflow: hidden;
  background: url('/background.jpg') no-repeat;
  background-size: cover;
  background-position: left top;
  section {
    height: 100vh;
  }
  .container {
    padding: 0 80px;
    height: 100%;
  }
}
// Hero --------------------------------------------------------------------
.hero {
  background-size: cover;
  background-position: left bottom;
  padding-top: 150px;
  height: 100%;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 89vh;
    bottom: 0;
    right: -120px;
    background: url('/hero_bubble.png') no-repeat;
    background-size: contain;
    background-position: right top;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
    padding-top: 14vh;
    padding-bottom: 2vh;
  }
  h1 {
    margin: 0;
    color: $color-white;
    font-size: 28vh;
    margin-bottom: -2vh;
    font-variation-settings:
      "slnt" 0,
      "wdth" 147,
      "wght" 720,
      "GRAD" 122;
  }
  p{
    width: 42vw;
    color: $color-white;
    font-size: 3.4vh;
    line-height: 125%;
    font-variation-settings:
    "slnt" 0,
    "wdth" 120,
    "wght" 300,
    "GRAD" 0,
    "XOPQ" 96;
  }
  .heroMark {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    &__img {
      animation: 15s linear infinite rotate;
    }
    span {
      background: url("/hero_arrow.svg") no-repeat;
      background-size: 150px 150px;
      background-position: center center;
    }
    @keyframes rotate {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
  }
}

// About --------------------------------------------------------------------

.about{
  background-size: cover;
  background-position: left top;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 200vh;
    height: 90vh;
    top: 50%;
    transform: translateY(-50%);
    left: -140px;
    background: url('/about_bubble.png') no-repeat;
    background-size: contain;
    background-position: left bottom;
  }
  .container{
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 10;
  }
  .column{
    flex: 1;
    display: flex;
    align-items: center;
    color: $color-white;
    &:nth-child(1){
      &::after{
        content: '';
        position: absolute;
        width: calc(50vw - 20px);
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        backdrop-filter: blur(20px);
        background: rgba(73, 73, 73, 0.2);
        border-radius: 0 24px 24px 0;
        border: solid 2px rgba($color-white, .2);
        z-index: 1;
      }
    }
    &:nth-child(2){
      flex-direction: column;
      justify-content: center;
    }
  }
  &__numbersList{
    position: relative;
    z-index: 2;
    display: grid;
    column-gap: 22px;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    h3{
      font-size: 6.5vw;
      font-variation-settings:
      "slnt" 0,
      "wdth" 151,
      "wght" 718,
      "GRAD" 122;
    }
    p{
      font-size: 1.25vw;
      font-variation-settings:
      "slnt" 0,
      "wdth" 120,
      "wght" 718,
      "GRAD" 0,
    }
  }
  &__promoText{
    padding-left: 10vw;
    h2{
      font-size: 8.75vw;
      white-space: nowrap;
      font-variation-settings:
      "wdth" 151,
      "wght" 760,
      "GRAD" 122;
      color: #10071B;
      text-shadow: 0 0 3px $color-white, 0 0 3px $color-white;
    }
    p{
      font-size: 1.22vw
    }
    .first{
      line-height: 140%;
      margin-bottom: 20px;
      font-variation-settings:
      "wdth" 120,
      "wght" 700,
    }
    .second{
      line-height: 160%;
      font-variation-settings:
      "wdth" 120,
      "wght" 300,
    }
  }
}

// Services --------------------------------------------------------------------

.services{
  background-size: cover;
  background-position: top right;
  position: relative;
  height: auto !important;
  margin: 120px 0;
  .container{
    height: auto !important;
  }
  h2{
    color: transparent;
    text-align: right;
    text-shadow: none;
    -webkit-text-stroke: 1.3px $color-white;
  }
}

// Partners --------------------------------------------------------------------

.partners{
  height: auto !important;
  color: $color-white;
  margin-bottom: 168px;
  .container{
    display: flex;
    align-items: center;
    padding: 0 80px;
    justify-content: center;
    height: 730px;
    margin-bottom: 100px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 100vw;
      height: 82vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url('/partners_bubble.png') no-repeat;
      background-size: contain;
      background-position: center;
    }
    h4{
      flex: 1;
      text-align: center;
      font-size: 4.9vw;
      position: relative;
      z-index: 2;
      font-variation-settings:
      "slnt" 0,
      "wdth" 151,
      "wght" 718,
      "GRAD" 122;
    }
  }
  &__logo{
    display: flex;
    justify-content: center;
    gap: 100px;
  }
}

// Career --------------------------------------------------------------------

.career{
  height: auto !important;
  margin: 120px 0;
  h2{
    color: #19062C;
    text-align: right;
    margin-bottom: 40px;
  }
}

// Feedback --------------------------------------------------------------------
.feedback{
  height: 1079px !important;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 200vh;
    height: 90vh;
    top: 50%;
    transform: translateY(-50%);
    left: -140px;
    background: url('/feedBack_bubble.png') no-repeat;
    background-size: contain;
    background-position: left bottom;
  }
  .container{
    display: flex;
    position: relative;
    z-index: 2;
    .column{
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }
}

