@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&display=swap');

$color-white: #fff;
$color-black:#0A0A0A;
$color-violet-normal: #B200FF;
$color-violet-hover: #BD24FF;
$color-violet-active: #8000B7;
$font-roboto-flex:'Roboto Flex', sans-serif;

html{
    scroll-behavior: smooth;
}

body{

    font-family: "Roboto Flex", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
}
.body__menuOpen{
        overflow: hidden;
}

.btn{
    font-size: 24px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background: $color-violet-normal;
    border: none;
    font-variation-settings: "wdth" 135, "wght" 500,"GRAD" 122;
    cursor: pointer;
    color: $color-white;
    transition: all .3s ease-in-out;
    @media screen and (max-width: 1280px) {
        font-size: 16px;
        height: 40px;
    }
    &:hover{
        background: $color-violet-hover;
        font-variation-settings:
        "wdth" 135,
        "wght" 718,
        "GRAD" 122;
    }
    &:active{
        background: $color-violet-active;
    }
}
